gazebo_panda:
  # Additional trajectory controller so we can use rqt_joint_trajectory_controller GUI
  effort_joint_trajectory_controller:
    type: effort_controllers/JointTrajectoryController
    joints:
      - panda_joint1
      - panda_joint2
      - panda_joint3
      - panda_joint4
      - panda_joint5
      - panda_joint6
      - panda_joint7
    gains:
      panda_joint1: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint2: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint3: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint4: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint5: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint6: {p: 3000,  i: 10.0, d: 25.0}
      panda_joint7: {p: 3000,  i: 10.0, d: 25.0}

controller_groups:
  position_controller_group:
    - gazebo_panda/effort_joint_position_controller
  trajectory_controller_group:
    - gazebo_panda/effort_joint_trajectory_controller